body {
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/yRF5c-O/diamond-rain-purple-4k-and-full-hd_vkocjpnc__F0000.png");
}

h1{
    background-color: #C5BCE0;
    font-size: 100px;
	color: grey;
	padding: 50px;
	text-align: center;
    height:40px;
	
}


.instructions {
    background:beige;
    color:#239B59;
    margin-bottom:40px;
    margin-left:20px;
    margin-right:40px;
    font-size: 20px;
    width:95%;
    height:100px;

}

.computerGuess {
    background:beige;
    margin-bottom:40px;
    font-size: 20px;
    color:#239B59;
    height:100px;
    margin-left:15px;
    width:300px;
}

.win-title {
    background:beige;
    margin-bottom:10px;
    font-size: 20px;
    width:300px;
    height:100px;
    color:#239B59;
}

.losses-title {
    background:beige;
    margin-bottom:10px;
    font-size: 20px;
    width:300px;
    height:100px;
    color:#239B59;
}

.so-far {
    background:beige;
    margin-bottom:30px;
    font-size: 20px;
    width:400px;
    height:100px;
    color:#239B59;
    margin-right:20px;
}

.crystals-holder {
    background:beige;
    margin-bottom:30px;
    font-size: 20px;
    width:80%;
    height:100px;
    color:#239B59;
    
}
